<div class="content col-lg-5 col-md-5 col-sm-10 col-xs-12">
    <div class="content-heading">
      <h1>Notice Board</h1>
    </div>
    <div class="content-text">

      <div class="item">
        <a [routerLink]="['/News-and-Events']" routerLinkActive="router-link-active" ><fa name="tv" size="2x"></fa>
        <p>News & Events</p>
        </a>
      </div>

      <div class="item">
          <a [routerLink]="['/Lms/Important-links']" routerLinkActive="router-link-active" ><fa name="link" size="2x"></fa>
          <p>Important <br> Links</p>
          </a>
        </div>

    </div>

  </div>
