<app-courses-div></app-courses-div>
<!--
<p>Profile Button</p>
<div *ngFor="let std of student">
  <button class="btn btn-info" (click)="profileUpdate(std._id)">
    Profile
  </button>
</div> -->
<app-notice-board></app-notice-board>
<app-student-activities></app-student-activities>
<app-admin-services></app-admin-services>































<!--
<div class="div">
  <div class="container">
    <div class="student-div col-lg-8 col-md-6 col-sm-12 col-xs-12">
      <table class="table table-striped table-bordered table-hover table-condensed">
        <thead class="thead-dark">
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>City</th>
            <th>Qualification</th>
            <th>Program</th>
          </tr>
        </thead>
        <tbody *ngFor="let item of students">
          <tr>
            <td>{{item.profile.First_Name}}</td>
            <td>{{item.profile.Last_Name}}</td>
            <td>{{item.profile.City}}</td>
            <td>{{item.Acedmic.Qualification}}</td>
            <td>program</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div> -->























