<div>
  <div class="container">
    <br>
      <div class="text-container">
          <h1>Add Lecture Videos<button class="btn btn-info" [routerLink]="['/admin-dashboard/show-videos']" routerLinkActive="router-link-active" style="float: right">Show Videos</button>
            <span><br><p class="underline"></p></span> </h1>
      </div>
    <div class="form-container col-lg-8 col-md-8 col-sm-12 col-xs-12">
      <form [formGroup]="postForm" novalidate (submit)="onAddPost()">
        <input type="text" id="input" placeholder="Video Name..." formControlName="name">
        <div>
          <button class="btn btn-outline-success btn-edit" (click)="filepicker.click()">Add Video</button>
          <input type="file" #filepicker (change)="onImagePicked($event)" accept="video/mp4">
        </div>

        <div class="image-preview" *ngIf="ImagePreview !== '' && ImagePreview && postForm.get('video').valid">
          <!-- <img [src]="ImagePreview" [alt]="postForm.value.name"> -->
          <video>
            <source [src]="ImagePreview">
          </video>
        </div>
        <!-- <input type="text" id="input" placeholder="Post Content" formControlName="postContent"> -->
        <textarea formControlName="Introduction" id="news" cols="130"  rows="10" placeholder="Write something about the video..."></textarea>
        <br>
        <button type="submit" class="btn btn-info" >Done</button>
      </form>
    </div>
  </div>
</div>







<!--
<div>
  <div class="container">
    <div class="row form-container">
      <h1>News and Events</h1>
      <div class="form-body">
      <form [formGroup]="newsForm" novalidate (submit)="AddNews()">

          <div class="News-div col-lg-12 col-md-12">
            <input type="text" formControlName="newsHeading" placeholder="Post Heading..." style="height: 50px">
            <textarea formControlName="newsContent" id="news" cols="130"  rows="10" placeholder="Write a new post here..."></textarea>
          </div>
          <div class="btn">
            <button class="btn btn-primary" id="img-btn" (click)="imagePicker.click()"><fa name="image"></fa> Add Image</button>
            <input type="file" id="filePath" #imagePicker style="height: 50px" ng2FileSelect [uploader]="uploader" >
            <input type="file" >
          </div>


            <button type="submit" class="btn btn-primary" (click)="uploader.uploadAll()"
            [disabled]="!uploader.getNotUploadedItems().length" >Add New Post</button>

      </form>

          <div *ngFor="let pic of Files">
            <div *ngIf="(pic.type==Type || pic.type==Type1)" id="d1">
              <img src="/Front-end/Lms-Front/src/assets/{{pic.name}}" width="200px" height="200px" alt="" id="img">
            </div>
          </div>
      </div>
    </div>
  </div>
</div> -->
