<div class="content col-lg-5s col-md-5 col-sm-10 col-xs-12">
  <div class="content-heading">
    <h1>Admin Services</h1>
  </div>
  <div class="content-text">

    <div class="item">
      <a style="cursor: pointer;" ><fa name="clipboard" size="2x"></fa>
      <p>Post Results</p>
      </a>

      <!-- <a style="cursor: pointer;" [routerLink]="['/Lms/My-Results']" routerLinkActive="router-link-active" ><fa name="clipboard" size="2x"></fa>
        <p>My Results</p>
        </a> -->
    </div>

    <div class="item">
        <a [routerLink]="['/admin-dashboard/messages']" routerLinkActive="router-link-active" ><fa name="comments" size="2x"></fa>
        <p>Student Messages</p>
        </a>
      </div>


  </div>

</div>
