<div>
  <div class="container">
    <div class="text-container">
        <h4>Educate-Me: (LMS website)
          <div class="links">
              <a [routerLink]="['/Developers-Profile']" routerLinkActive="router-link-active" ><fa class="arrow" name="arrow-circle-down" size="1x" style="color: #1c325f"></fa> Developers</a>
            <a [routerLink]="['/']" routerLinkActive="router-link-active" >Home <fa class="arrow" name="arrow-circle-right" size="1x" style="color: rgb(144, 236, 5)"></fa></a>
          </div>
          <span><br><p class="underline"></p></span>
        </h4>
    </div>
    <div class="body">

        <p class="dialog">
          Educate-Me is an e-Learning LMS website, a complete full stack app, developed by <span style="font-weight: bold;">Zaki-ul-Hassan</span> and <span style="font-weight: bold;">Hammad Abdullah</span> as a final project for Full-Stack Web Development.
          The user interface of whole website is designed keeping in mind the the best user friendly graphics.
          All the front end of the website is designed in such a way that the website gives a professional look to the end user.
        </p>

        <p>
          Website consists of three main modules.
          <span>
          <ol>
            <li>Client Interface</li>
            <li>Student LMS</li>
            <li>Admin Dashboard</li>
          </ol>
          </span>

          <span>
            <div style="background-color: rgb(20, 148, 3); border-radius: 10px; padding: 10px;">
                <p style="color: white">
                  A very remarkable feature of this website is, <span style="font-weight: bold; color: #1c325f;">a Chat App</span> for communication between User and admin. This is a realtime
                  chat application for instant messages.
                </p>
            </div>
          </span>
        </p>

        <p>
          <span><p style="font-weight: bold;">1 - Client Interface</p></span>
          Client Interface is the first module and it represents the main features of the website. It is designed for the general public.
          Any person visiting this website will see this module first after that he may navigate to the desired component.
          <br>
          <span style="font-weight: bold;">Client Interface</span> has following pages;
          <span><ul>
            <li>HOME</li>
            <li>COURSES</li>
            <li>NEWS & EVENTS</li>
            <li>HOW IT WORKS</li>
            <li>FAQS</li>
            <li>CONTACT US</li>
            <li>SIGN IN</li>
            <li>SIGN UP</li>
          </ul></span>
        </p>

        <p>
          <span><p style="font-weight: bold;">2 - Student LMS</p></span>
          After visiting Client Interface, User can Register and then Login to the Lms module. Lms is designed for students. Lms has all the posible features which any e-Learning website should have.
          <br>
          All the data posted on LMS is dynamic. Data comming from the 3rd module (ADMIN MODULE).
          <br>
          <span style="font-weight: bold;">Student LMS</span> has following features;
          <span><ul>
            <li>Student can Edit its profile</li>
            <li>Student can update its Picture</li>
            <li>Student can Enroll in any program</li>
            <li>Student can view any News & Event Accouncement</li>
            <li>Student can view any Assignment & Results</li>
            <li>Student can Chat with the Admin</li>
          </ul></span>
        </p>

        <p>
          <span><p style="font-weight: bold;">3 - Admin Dashboard</p></span>
          Admin Dashboard is designed to perform all the admin related tasks. It has all the posible features which an Admin Dashboard should have.

          Educate-Me Lms is a dynamic website. Admin can perform his tasks easily.
          <br>
          <span style="font-weight: bold;">Admin Dashboard</span> has following features;
          <span><ul>
            <li>Admin can Add & Edit Programs</li>
            <li>Admin can Add Video Lectures</li>
            <li>Admin can Add & Edit News & Events or Announcments</li>
            <li>Admin can View all the students enrolled</li>
            <li>Admin can Add Assignments & Results</li>
            <li>Admin can Chat with Students</li>
          </ul></span>
        </p>




    </div>
  </div>
</div>



