<div class="content col-lg-5s col-md-5 col-sm-10 col-xs-12">
    <div class="content-heading">
      <h1>Trainee Services</h1>
    </div>
    <div class="content-text">

      <div class="item">
        <a [routerLink]="['/Lms/My-Results']" routerLinkActive="router-link-active" ><fa name="clipboard" size="2x"></fa>
        <p>My Results</p>
        </a>
      </div>

      <div class="item">
          <a [routerLink]="['/Lms/Support']" routerLinkActive="router-link-active" ><fa name="paper-plane" size="2x"></fa>
          <p>Online Support</p>
          </a>
        </div>

    </div>

  </div>
