
<div class="container-fluid" style="text-align: center">
  <h1>Friendly Support <span><br><p class="underline"></p></span></h1>


  <div class="support-card">
      <div class="link">
          <h1>Frequently Asked Questions :</h1>
          <button class="btn btn-primary" [routerLink]="['/Faqs']" routerLinkActive="router-link-active" >FAQ</button>
      </div>

      <div class="link">
          <h1>See how it works</h1>
          <button class="btn btn-warning" [routerLink]="['/How-it-works']" routerLinkActive="router-link-active" >How it works :</button>
      </div>

      <div class="link">
          <h1>Live chat with our agent :</h1>
          <button class="btn btn-success"  [routerLink]="['/Lms/student-chat']">Chat</button>
      </div>
  </div>
</div>


