<div>
  <div class="container">
    <div class="text-container">
        <h4>Developers:
          <div class="links">
              <a [routerLink]="['/Main-Features']" routerLinkActive="router-link-active" ><fa class="arrow" name="arrow-circle-up" size="1x" style="color: #1c325f"></fa> Website Features</a>
            <a [routerLink]="['/']" routerLinkActive="router-link-active" >Home <fa class="arrow" name="arrow-circle-right" size="1x" style="color: rgb(144, 236, 5)"></fa></a>
          </div>
          <span><br><p class="underline"></p></span>
        </h4>
    </div>
    <div class="body">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 profile1">
            <div class="profile1-inner">
              <div class="img-div1">
                  <img src="assets/images/zaki1.jpg" alt="">
                </div>
                <h4 style="color: white;">Zaki-ul-Hassan</h4>
                <p style="color: white;">Full Stack Developer | Graphic Designer</p>
                <p style="color: white;"><span style="font-weight: bold;">
                  <fa class="arrow" name="whatsapp" size="1x" style="color: rgb(144, 236, 5)"></fa></span> 0303-4062878
                </p>
                <p style="color: white;"><span style="font-weight: bold;">
                  <fa class="arrow" name="envelope" size="1x" style="color: rgb(255, 35, 35)"></fa></span> zakihassan671@gmail.com
                </p>
                <p style="color: white;"><span style="font-weight: bold;">
                    <fa class="arrow" name="linkedin" size="1x" style="color: rgb(0, 140, 255)"></fa></span> linkedin.com/in/syed-zaki-ul-hassan-kazami-a22069188
                  </p>
            </div>

            <div class="text-div">
              <br>
                <h5 style="color: white; font-weight: bold;">Contribution: </h5>
                <p style="color: white;">Frontend Design and Development</p>
              <br>
                <h5 style="color: white; font-weight: bold;">Technologies Used: </h5>
                <p style="color: white;"><span><ul>
                  <li>HTML</li>
                  <li>CSS</li>
                  <li>Bootstrap</li>
                  <li>JQuery</li>
                  <hr class="new2">
                  <li>Angular</li>
                  <li>Angular Material</li>
                  <li>Socket.io</li>
                  <li>Javascript Libraries</li>


                </ul></span></p>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 profile2">
            <div class="profile2-inner">
                <div class="img-div2">
                    <img src="assets/images/user1.jpg" alt="">
                  </div>
                  <h4 style="color: #183879;">Hammad Abdullah</h4>
                  <p style="color: #183879;">Full Stack Developer</p>
                  <p style="color: #183879;"><span style="font-weight: bold;">
                    <fa class="arrow" name="whatsapp" size="1x" style="color: rgb(144, 236, 5)"></fa></span> ---
                  </p>
                  <p style="color: #183879;"><span style="font-weight: bold;">
                      <fa class="arrow" name="envelope" size="1x" style="color: rgb(255, 35, 35)"></fa></span> kingb0273@gmail.com
                    </p>
              </div>

              <div class="text-div">
                <br>
                  <h5 style="color: #183879; font-weight: bold;">Contribution: </h5>
                  <p style="color: #183879;">Backend Development</p>
                <br>
                  <h5 style="color: #183879; font-weight: bold;">Technologies Used: </h5>
                  <p style="color: #183879;"><span><ul>
                    <li>NodeJS</li>
                    <li>Express</li>
                    <li>MongoDb</li>
                    <li>Socket.io</li>

                  </ul></span></p>
              </div>
        </div>
      </div>




    </div>
  </div>
</div>



