
<div class="faq-container">
    <div class="container">
      <div class="text-container">
          <h1>Frequently Asked Questions<span><br><p class="underline"></p></span> </h1>
      </div>

      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="item-container col-lg-8 col-md-8 col-sm-12 col-xs-12">

            <div class=" questions-container">
              <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 question-img">
                <fa name="quora" size="2x"></fa>
              </div>
              <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 question-content">
                <h1>Q1. What is EducateME.com Training Program?</h1>
                <p> EducateME.com Training Program is Pakistan’s first Online Training Program to empower the youth with skills that are in-demand in freelance market. It has been designed specifically for a Pakistani audience in a mix of Urdu-English language.</p>
              </div>
            </div>


            <div class=" questions-container">
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 question-img">
                  <fa name="quora" size="2x"></fa>
                </div>
                <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 question-content">
                  <h1>Q1. What is EducateME.com Training Program?</h1>
                  <p> EducateME.com Training Program is Pakistan’s first Online Training Program to empower the youth with skills that are in-demand in freelance market. of Urdu-English language.</p>
                </div>
              </div>


              <div class=" questions-container">
                  <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 question-img">
                    <fa name="quora" size="2x"></fa>
                  </div>
                  <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 question-content">
                    <h1>Q1. What is EducateME.com Training Program?</h1>
                    <p> EducateME.com Training Program is Pakistan’s  in freelance market. It consists of multiple online skill-based training courses. The very unique feature of this program is that the course content has been designed specifically for a Pakistani audience in a mix of Urdu-English language.</p>
                  </div>
                </div>

                <div class=" questions-container">
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 question-img">
                      <fa name="quora" size="2x"></fa>
                    </div>
                    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 question-content">
                      <h1>Q1. What is EducateME.com Training Program?</h1>
                      <p> EducateME.com Training Program is Pak skills that are in-demand in freelance market. It consists of multiple online skill-based training courses. The very unique feature of this program is that the course content has been designed specifically for a Pakistani audience in a mix of Urdu-English language.</p>
                    </div>
                  </div>

                  <div class=" questions-container">
                      <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 question-img">
                        <fa name="quora" size="2x"></fa>
                      </div>
                      <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 question-content">
                        <h1>Q1. What is EducateME.com Training Program?</h1>
                        <p> EducateME.com Training Program is Pakistan’s f-demand in freelance market. It consists of multiple online skill-based training courses. The very unique feature of this program is that the course content has been designed specifically for a Pakistani audience in a mix of Urdu-English language.</p>
                      </div>
                    </div>


        </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 side-container">
              <div class="item">
                <a  [routerLink]="['/Contact-Us']" routerLinkActive="router-link-active" >
                  <h1 class="a1">More Question?</h1>
                  <div class="img">
                    <a><fa name="paper-plane" size="3x"></fa></a>
                  </div>
                  <p style="font-size: 12px" class="a1">Our support team will answer you quickly</p>
                  <p class="a1">Let us know your questions!</p>
                </a>
              </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 side-container">
                <div class="item">
                  <a  [routerLink]="['/Contact-Us']" routerLinkActive="router-link-active" >
                    <h1 class="a1">Give us a call!</h1>
                    <div class="img">
                      <a><fa name="phone" size="3x"></fa></a>
                    </div>
                    <p style="font-size: 12px" class="a1">Our support team will answer you quickly</p>
                    <p class="a1">0312-345-6789 , 0313-579-2468</p>
                  </a>
                </div>
              </div>

          </div>
    </div>
</div>
<div class="row">
  <div class="line"></div>
  <br>
</div>

