<div class="content col-lg-5 col-md-5 col-sm-10 col-xs-12">
  <div class="content-heading">
    <h1>Notice Board</h1>
  </div>
  <div class="content-text">

    <div class="item">
      <a [routerLink]="['/admin-dashboard/view-uploads']" routerLinkActive="router-link-active" ><fa name="tv" size="2x"></fa>
      <p>News & Events</p>
      </a>
    </div>

    <div class="item">
      <a [routerLink]="['/admin-dashboard/upload']" routerLinkActive="router-link-active" ><fa name="upload" size="2x"></fa>
      <p>Add News</p>
      </a>
    </div>

    <div class="item">
        <a style="cursor: pointer;"><fa name="link" size="2x"></fa>
        <p>Important <br> Links</p>
        </a>
        <!-- <a [routerLink]="['/Lms/Important-links']" routerLinkActive="router-link-active" ><fa name="link" size="2x"></fa>
          <p>Important <br> Links</p>
          </a> -->
      </div>

  </div>

</div>
