<div class="content col-lg-5 col-md-5 col-sm-10 col-xs-12">
  <div class="content-heading">
    <h1>Student Activities</h1>
  </div>
  <div class="content-text">

    <div class="item">
      <a  style="cursor: pointer;"><fa name="list" size="2x"></fa>
      <p>Post Exercises</p>
      </a>
      <!-- <a [routerLink]="['/Lms/Exercises']" routerLinkActive="router-link-active" ><fa name="list" size="2x"></fa>
        <p>Post Exercises</p>
        </a> -->
    </div>

    <div class="item">
        <a  style="cursor: pointer;"><fa name="copy" size="2x"></fa>
        <p>Post Notes</p>
        </a>
        <!-- <a [routerLink]="['/Lms/Notes']" routerLinkActive="router-link-active" ><fa name="copy" size="2x"></fa>
          <p>Post Notes</p>
          </a> -->
      </div>

  </div>

</div>
