<!-- <p>developers works!</p> -->

<div >
  <div style="width: 700px; position: relative;">
    <h2>Educate-Me: (LMS website)</h2>
    <hr>
    <p class="dialog">
      Educate-Me is an e-Learning LMS website developed by Zaki-ul-Hassan and Hammad Abdullah as a final project for Full-Stack Web Development.
    </p>

    <!-- <p>
      LMS consists of three main modules.
      <span>
      <ol>
        <li>Client Interface</li>
        <li>Student LMS</li>
        <li>Admin Dashboard</li>
      </ol>
      </span>
    </p> -->

    <!-- <p>
      <span><p style="font-weight: bold;">Client Interface</p></span>
      Client Interface is the first module and it represents the main features of the website. It is designed for the general public.
    </p> -->
  </div>
  <button type="button" class="btn btn-outline-success" style="float: left" (click)="onClick()">CLICK TO VISIT MAIN FEATURES!</button>
  <button type="button" class="btn btn-dark" style="float: right" (click)="onClose()">CLOSE</button>
</div>


