

<div >
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 success-container">
      <img src="assets/images/success.png" alt="" class="success">
      <div class="container">

          <div class="text-container">
              <h1>Success Stories <span><br><p class="underline"></p></span> </h1>
              </div>


            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                <div id="myCarousel1" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                      <li data-target="#myCarousel1" data-slide-to="0" class="active"></li>
                      <li data-target="#myCarousel1" data-slide-to="1"></li>
                      <li data-target="#myCarousel1" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                      <div class="carousel-item active comments-container">
                        <div class="comment-img">
                          <img src="assets/images/person-1.jpg" alt="" class="c-img">
                        </div>
                        <div class="container">
                          <div class="comment-text">
                            <h1>Hamza</h1>
                            <p><span>
                              <fa name="quote-left"  id="quote"  size="1x"></fa></span>
                              EducateMe.Com did an excellent job! The communication was great, they understood everything that we needed, and completed everything on budget. We are going to hire him again for sure. 5 STARS FOR THEM!
                              <fa name="quote-right"  id="quote"  size="1x"></fa>
                            </p>
                          </div>
                        </div>
                      </div>
                      <div class="carousel-item comments-container">
                          <div class="comment-img">
                              <img src="assets/images/person-1.jpg" alt="" class="c-img">
                            </div>
                        <div class="container">
                          <div class="comment-text">
                            <h1>Kashif</h1>
                            <p><span>
                                <fa name="quote-left"  id="quote"  size="1x"></fa></span>
                                EducateMe.Com did an excellent job!  The communication was great, they understood everything that we needed, and completed everything on budget. We are going to hire him again for sure. 5 STARS FOR THEM!
                                <fa name="quote-right"  id="quote"  size="1x"></fa>
                              </p>
                          </div>
                        </div>
                      </div>
                      <div class="carousel-item comments-container">
                          <div class="comment-img">
                              <img src="assets/images/person-1.jpg" alt="" class="c-img">
                            </div>
                        <div class="container">
                          <div class="comment-text">
                            <h1>Arbaaz</h1>
                            <p><span>
                                <fa name="quote-left"  id="quote"  size="1x"></fa></span>
                                EducateMe.Com did an excellent job! The communication was great, they understood everything that we needed, and completed everything on budget. We are going to hire him again for sure. 5 STARS FOR THEM!
                                <fa name="quote-right"  id="quote"  size="1x"></fa>
                              </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <a class="carousel-control-prev" href="#myCarousel1" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true" style="background-color: #1c325f"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#myCarousel1" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true" style="background-color: #1c325f"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>

            </div>
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">

            </div>


      </div>
    </div>
  </div>
</div>



