<div class="content col-lg-5 col-md-5 col-sm-10 col-xs-12">
    <div class="content-heading">
      <h1>My Activities</h1>
    </div>
    <div class="content-text">

      <div class="item">
        <a [routerLink]="['/Lms/Exercises']" routerLinkActive="router-link-active" ><fa name="list" size="2x"></fa>
        <p>Exercises</p>
        </a>
      </div>

      <div class="item">
          <a [routerLink]="['/Lms/Notes']" routerLinkActive="router-link-active" ><fa name="copy" size="2x"></fa>
          <p>My Notes</p>
          </a>
        </div>

    </div>

  </div>
