<div class="course-container">
<br>

<nav class="navbar  col-lg-10 col-md-10 col-sm-10 col-xs-10">
    <ul>
        <li class="active col-lg-12">
            <a class="nav-link"  [routerLink]="['/admin-dashboard/courses/all-courses']" routerLinkActive="router-link-active">All Courses<span class="sr-only">(current)</span></a>
        </li>
        <li class="col-lg-12">
            <a class="nav-link" [routerLink]="['/admin-dashboard/courses/add-new-course']" routerLinkActive="router-link-active">Add New Course</a>
        </li>
    </ul>
</nav>

<router-outlet></router-outlet>


  <!-- <div>
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 flipper">
      <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="assets/images/front-end.jpg" alt="Avatar" style="width:300px;height:200px;">
              <div class="instructor-img">
                  <img src="assets/images/person-1.jpg" alt="Avatar">
                  <p>Ali Hassan</p><br>
                  <h1>FrontEnd Developer</h1>
              </div>
            </div>
            <div class="flip-card-back">
              <h1>Frontend Developer</h1>
              <p>Architect & Engineer</p>
              <p>We love that guy</p> <br>
              <p>The communication was great, they understood everything that we needed</p>
            </div>
          </div>
        </div>
  </div>
  </div> -->
</div>
